<?xml version='1.0' encoding='utf-8'?>

<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">

	<name>HelloWorld</name>
	<description>A sample Apache Cordova application that responds to the deviceready event.</description>
	<author email="dev@cordova.apache.org" href="http://cordova.io">Apache Cordova Team</author>

	<content src="index.html" />

	<access origin="*" />

	<access origin="debug.phonegap.com" subdomains="true" />
	<access origin="debug.build.phonegap.com" subdomains="true" />

<!--
	<feature name="debug-server" required="true">
		<param name="domain" value="http://debug.build.phonegap.com"/>
		<param name="key" value="b8ea39a4-c2a8-11e4-a690-a2a8e284c85c"/>
	</feature>
-->
</widget>